.hero-main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

@media (max-width: 900px) {
    .hero-main {
        height: auto;
        flex-direction:column-reverse;
        text-align: center;
        gap: 3rem;
    }
}

.hero-img {
    position: relative;
    height: 35rem;
    width: 35rem;

    border: 3px solid #2d2e32;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    
    background-image: url(pic.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
    transition: all 1s ease-in-out;
    animation: morph 8s ease-in-out infinite;
}

@media (max-width: 500px) {
    .hero-img {
        height:28rem;
        width: 28rem
    }
}

@keyframes morph {
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%
    }

    to {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%
    }
}
